<header class="text-center">
  <h1 class="mb-4">Grocery Shopping</h1>
</header>

<div class="row">  
  <div class="col-md-6">
    <h3 class="mt-2 ml-4">categories</h4>
    <ul>
      {{#each category}}
            </div>
            <div class="col-md-4">
              <button class="category" data-id="{{id}}>{{product_category}}</button>
            </div>
          </div>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

</script>